p{
    text-align: center;
    color: red;
}
#id_p{
    text-align: left;
    color: blue;
}
.right-green{
    text-align: right;
    color: green;
}
p.red {
    text-align: center;
    color: red;
}
.brown{
    color: brown;
}
.large{
     font-size: 25px;

}
h1, h2{
    text-align: center;
    font font-family: verdana;
    color: blue;

}