<!DOCTYPE html>
<html lang="es-ES">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estilo</title>
<link rel="stylesheet" href="/Users/Fredricksen/.bitnami/stackman/machines/xampp/volumes/root/htdocs/diplomado_web1/diplohtml1/css/estilo1.css">

</head>
<body>
<h1>primer ejemplo con CSS</h1>
<h2>asdfghjklñlk</h2>
<p>parrafoparrafoparrafoparrafoparrafoparrafoparrafoparrafoparrafob
    parrafoparrafoparrafoparrafoparrafoparrafoparrafoparrafo
    parrafo
</p>    
</body>
</html>