<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fuentes</title>
    <style>
        .a {
            font-family: Arial, Helvetica;
            font-size: xx-large;
        }

        .b {
            font-family: Forte;   
        }
        .ejemp1 {
            font-feature-settings: "smcp" on;
        }
        .ejemp2 {
            font-feature-settings: "frac";
        }
        .italic {
            font-style: italic;
        }
    </style>
</head>
<body>
    <h2 class="a">Arial xx-large</h2>
    <h2 class="b">Forte</h2>
    <div class="ejemp1">Algún texto 0123 smcp</div>
    <div class="ejemp2">Algún texto 0123 frac</div>
    <p>Normal <b>Negritas</b></p>
    <p class="italic">Texto en italic</p>
    <p class="italic"><u> italic-Subrayado</u></p>

<fieldset>
    <!--estas son etiquetas-->
    <h1>Encabezado Tamaño 1</h1>
    <h2>Encabezado Tamaño 2</h2>
    <h3>Encabezado Tamaño 3</h3>
    <h4>Encabezado Tamaño 4</h4>
    <h5>Encabezado Tamaño 5</h5>
    <h6>Encabezado Tamaño 6</h6>

    <br><!--este es un salto de línea-->
    <p>Esto es un párrafo</p>

    <p><b> es un parrafo tamaño y estilo de letra </b></p>

    <p> <big>es un parrafo tamaño y estilo de letra <br> <!--br para pasar renglon-->
        es un parrafo tamaño y estilo de letra</big></p>
        

    <p><i>es un parrafo tamaño y estilo de letra<br>
        es un parrafo tamaño y estilo de letra <br>
        es un parrafo tamaño y estilo de letra</i></p>


    <p><small>es un parrafo tamaño y estilo de letra<br>
        es un parrafo tamaño y estilo de letra <br>
        es un parrafo tamaño y estilo de letra </small></p>


    <p>
        <strong>es un parrafo tamaño y estilo de letra<br>
        es un parrafo tamaño y estilo de letra <br>
        es un parrafo tamaño y estilo de letra strong </strong>
    </p>

    <p><sub>un parrafo tamaño by estilo de letra subindice sub </sub></p>

    <p><sup>un parrafo tamaño y estilo de letrak superindice sup</sup></p>

    <p><ins>un parrafo tamaño by estilo de letra insertado ins <br>
        es un parrafo tamaño y estilo de letra insertad ins </ins></p>

    <p><del>un parrafo tamaño by estilo de letra borrado </del>

        <p><del><strong>es un parrafo tamaño y estilo de letrak borrado y strong </strong></del>>
        </p></fieldset>
</body>
</html>