<!DOCTYPE html>
<html lang="es-ES">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DSelectores simples</title>
    <link rel="stylesheet" href="/Users/Fredricksen/.bitnami/stackman/machines/xampp/volumes/root/htdocs/diplomado_web1/diplohtml1/css/estilo_seectores.css">
</head>
<body>
    <h1>kjhgfds</h1>
    <h2>kjhgfdfghn</h2>
    <p>Por Nombre</p>
    <p id="id_p">Por ID</p>
    <p class="right-green">Por Clase</p>
    <p class="red" >Por nombre y Clase</p>
    <p class="brown large">este parrafo tiene dos clases</p>

</body>
</html>