<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sombras</title>
    <style>
        .a {
            text-shadow: 2px 2px rgb(214, 218, 31);
            text-align: center;
        }
        .b {
            text-shadow: 0 0 3px rgb(63, 206, 6), 0 0 8px blue;
        }
        .example1 {
            text-align: center;
            color: rgb(99, 89, 89);
            border: solid;
            padding: 10px;
            box-shadow: 5px 10px gray;
            font-family: Impact;
        }
    </style>
</head>
<body>
    <h1 class="a">Encabezado #1</h1>
    <h1 class="b">Algún texto</h1>
    <div class="example1"><p>Algún texto</p></div>
</body>
</html>