<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>hfgfgff</h1>
    <form action="/Users/Fredricksen/.bitnami/stackman/machines/xampp/volumes/root/htdocs/diplomado_web1/diplohtml1/guardado.html" method="GET">
        <fieldset>
   
    <p>Seleccione un género:</p>
<input type="radio" id="hombre" name="genero" value="hombre">
<label for="hombre">Hombre</label><br>
<input type="radio" id="mujer" name="genero" value="mujer">
<label for="mujer">Mujer</label><br>
</fieldset>
<input type="submit" value="Guardar">
</body>
</html>