
<!DOCTYPE html>
<html lang="es-ES">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Imágenes</title>
</head>
<body>

    <!-- etiqueta para imágenes-->
    <img src="/Users/Fredricksen/.bitnami/stackman/machines/xampp/volumes/root/htdocs/diplomado_web1/diplohtml1/recursoscontenido/html5y.jpeg" alt="Logo html">
    <br>
    <p></p>
    <!-- con tamaño especifico-->
    <img src="/Users/Fredricksen/.bitnami/stackman/machines/xampp/volumes/root/htdocs/diplomado_web1/diplohtml1/recursoscontenido/html5y.jpeg" height="159" width="318" alt="Logo html">

    
</body>
</html>